*.pyc
__pycache__/
*.log

# Django
*.sqlite3
media/

# Node.js
node_modules/
.next/
out/
dist/


# Docker
*.pid

# System
.DS_Store
Thumbs.db

# Do NOT ignore env files (for VPS)
# !.env
# !.env.production
logs/
copied_files/
backend/.keep
frontend/.keep
